{% extends "layout.html.twig" %}

{% block menuNav %}
    {% include 'include/menu_nav.html.twig' ignore missing %}
{% endblock %}

{% block content %}



<div id="blockConnexion" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <form method="post" {#action="{{ path('Home') }} #}">
                <div class="form-group">
                    <label for="emailConnexion">Email</label>
                    <input type="email" class="form-control" id="emailConnexion" name="email" placeholder="Votre adresse mail">
                </div>
                <div class="form-group">
                    <label for="mdpConnexion">Password</label>
                    <input type="password" class="form-control" id="mdpConnexion" name="mdp" placeholder="Votre mot de passe">
                </div>

                <div><a href="{{ path ('oubli_mdp') }}">Mot de passe oublié ?</a></div>
                <hr>

                {% if error is defined %}
                 <div class='alert alert-danger' >{{error}}</div>
                <hr>
                {% endif %}

                <div>
                    <div>Vous n'êtes pas inscrit ?</div><br>
                    <div><a href="{{ path ('inscription') }}">Inscrivez vous</a></div>
                </div>
                <button type="submit" class="btn btn-default">Se connecter</button>
            </form>
        </div>
    </div>
</div>



 
{% endblock %}