{% extends "layout_admin.html.twig" %}

{% block content %}
    
    <h3 class="text-center">Gestion des chambres</h3><br>
    {# sachant que c'est un tableau multidimentionnel il faut que je fasse 2 boucles for pour afficher mes informations #}
    <table class="table">
        <tr>
            <th>Numero chambre</th>
            <th>Categorie</th>
            <th>Capacite</th>
            <th>Telephone</th>
            <th>Prix</th>
            <th>Statut</th>
        </tr>
        
        {% for chambre in chambres %}
            <tr>
            {% for c in chambre %}
                <td>{{ c }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        
    </table>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>

{% endblock %}
