{% extends "layout.html.twig" %}

{% block content %}

    <div class="container-fluid">
      <div class="row">
      <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-4">
        <form method="post" action="" class="forminscription col-xs-8 col-xs-offset-2">
            <input type="hidden" name="standard">

            {% if error is defined %}
                <span style="color: red">{{error}}</span>
            {% endif %}

            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="(2 à 15 caractères)" required="required">

            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="(2 à 15 caractère)" required="required">

            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="votre@email.com" required="required">

            </div>

            <div class="form-group"><br>
                <label for="ville">Ville</label>
                <input type="text" class="form-control" id="ville" name="ville"  placeholder="Ville" required="required">

            </div>

            <div class="form-group">
                <label for="code_postal">Code Postal</label>
                <input type="text" class="form-control" id="code_postal" name="code_postal" placeholder="Code postal" required="required">

            </div>

            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Téléphone" required="required">

            </div>

            <label for="adresse">Adresse</label>

            <textarea class="form-control" rows="3" id="adresse" name="adresse" placeholder="Adresse" required="required"></textarea><br>

            <div class="form-group">
                <label for="mdp">Mot de passe</label>
                <input type="password" class="form-control" id="mdp" name="mdp" required="required">
            </div>

            <input type="submit" class="btn btn-default col-xs-12 " id="buttoninscription" value="inscription"><br><br><br>
        </form><br>
        </div>
      </div>
    </div>

    <div class="inscriptionconnexion text-center">
      <small>
          Vous avez déjà un compte?
      </small>
      <a href="{{ path('connexion') }}" class="inscriptionsignup">connexion</a>
    </div>

{% endblock %}