{% extends "layout.html.twig" %}

{% block content %}
<div class="container">    
       <h1 class="title">Mentions légales et conditions</h1>
       <div class="row">
            <div class="col-sm-6">
                <h3 class="title">1. Présentation du site </h3>
                <p>Ce site a été développé dans le cadre d'un projet de site web et ne peut être utilisé à toute autre fin, sans accord préalable des créateurs.
                </p>
                <p>Il est précisé aux utilisateurs de ce site (Hôtel Grands Voisins) l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi
                </p>
                <p>Ce site est édité par :
                </p>
                <p>Créateurs : Stéphane, Jonathan, Sathia, Soleyne et Alexandre  
                </p>
                <p>Ce site est hébergé par :
                </p>
                <p>Hébergeur : Tsohlacol
                </p>
            </div>
            <div class="col-sm-6">
                <h3 class="title">2. Conditions générales d’utilisation du site et des services proposés</h3>
                <p>L’utilisation de ce site (Hôtel Grands Voisins) implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
                </p>
                <p>Ce site a été développé dans le cadre d'un projet de site web et ne peut être utilisé à toute autre fin, sans accord préalable des créateurs.
                </p>
                <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par XXX, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. 
                </p>
                <p>Les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
                </p>
            </div>         
       </div>
</div>
{% endblock %}
