{% extends "layout.html.twig" %}

{% block headTitle%} Oubli de mot de passe - Project Hotel {% endblock %}

{% block menuNav %}
    {% include 'include/menu_nav.html.twig' ignore missing %}
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="title"> Mot de passe oublié </h1>

    <div class="contact">
       <div class="row">

            <div class="col-sm-6 col-sm-offset-3 spacer">
       
            {% if error is defined %}
                <span style ="color: red">{{error}}</span>
            <hr>
            {% endif %}     	
            {% if msg is defined %}
                <span style ="color: green">{{msg}}</span>
            <hr>
            {% endif %}    
                <!-- Formulaire de renvoi du mot de passe au mail indiqué. -->
                <form id="login-form" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" id="oubli_mdp" required="" name="email" placeholder="Entrez votre mail">
                    </div>                          
                    <button type="submit" class="btn btn-default">Envoyer</button>
                </form>
                <br>

                <!-- Renvoi à la Page d'inscription si le visiteur n'est pas encore dans la BDD -->
                <small> Pas encore inscrit(e)? </small> 
                <a href="{{ path('inscription') }}" class="signup">S'inscrire!</a>
            </div>
       	</div>
    </div>  
</div> 
{% endblock %}