{% extends "layout.html.twig" %}

{% block menuNav %}
    {% include 'include/menu_nav.html.twig' ignore missing %}
{% endblock %}

{% block content %}
    
<div class="banner">    	   
    <p>Ceci est la page Services</p>                
</div>

{% endblock %}
